body 

{
    background-image: url('../Slike/slika12.jpg');
    background-repeat: repeat;
    background-size: 2000px 1000px;
    font-family: 'Mukta', sans-serif;
}

h5 {
    text-align: center;
    color: white;
}

h2{
    color:white;
    text-align:center;
}

