@{
    ViewBag.Title = "Kontakt";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
    <link href="~/Content/kontaktcss.css" rel="stylesheet" />
</head>
<body> <br /> <br />
              <form class="forma1">
                  <br />
                  <h5> Za sve informacije nam se možete javiti na:</h5> <br />
                  <ul>
                      <li> 011/12345678</li>
                      <li> 011/98765432</li>
                      <li> restorannikolic@outlook.com </li>
                  </ul>
                  <br /> <br />
                  <h5>
                      Kao i na društvenim mrežama: <br /> <br />

                  </h5> <br />
                  <div>
                  <a href="www.instagram.com" class="insta">Instagram</a>
                  <a href="www.facebook.com" class="fb">Facebook</a>
                  <a href="www.twitter.com" class="tviter">Twitter</a>
                  </div><br />
              </form>
</body>

