@{
    ViewBag.Title = "Restoran Nikolić";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap" rel="stylesheet">
    <link href="~/Content/indexcss.css" rel="stylesheet" />
</head>
<body>
    <br /> <br /> <br />
     <br />
        <h1 class="Pozdrav">
            Dobrodošli!
        </h1>
        <br /> <br /> <br /> <br /> <br /> <br /> <br />
        <div class="radnovreme">
            <h3> Najbolja hrana i piće po povoljnim cenama, sa još boljom atmosferom! </h3>
            <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
            <h5>Radno vreme:</h5>
            <h5>Radnim danima: 08-22</h5>
            <h5>Vikendom: 10-20</h5>
            <br /> <br /> <br /> <br /> <br />
            <h5>Posetite nas i na drštvenim mrežama:</h5>
            <a href="www.instagram.com" class="insta">Instagram</a>
            <a href="www.facebook.com" class="fb">Facebook</a>
            <a href="www.twitter.com" class="tviter">Twitter</a>

        </div>
    
</body>
</html>